<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Homepage</title>
  </head>
  <body>
    <h1>Streakr! Homepage</h1>
    <h2><%= current_user.email %></h2>
    <p> welcome to your homepage </p>
<%= yield %>
  </body>
</html>

