<h1>Welcome to Streakr!</h1>
<p>Thankyou for signing up to Streakr!</p>
<p>Streakr! enables you to create goal streaks and monitor your progress as you record it.</p>
<div id='streakz'><%= render partial: 'add' %></div>